{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    }
  },
  "extends": [
    "react",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react"],
  "rules": {
    "semi": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "react/jsx-indent": [2, 2]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}